/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/

/* body{
    background-color: aliceblue;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: space-evenly;
}

.prd{
    border: 1px, solid, black;
    color: aqua;
} */